@charset "UTF-8";
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("img/tło.png");
}

#container {
  width: 100%;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: -1;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  background-color: rgba(10, 52, 18, 0.605);
  margin: auto;
  width: 100%;
  margin-top: 20px;
}

#logo {
  color: white;
  letter-spacing: 5px;
  font-size: 20 px;
  cursor: pointer;
}

#logo:hover {
  color: #4d4d4d;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-links li {
  list-style: none;
  cursor: pointer;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: #4d4d4d;
}

.menu-mobile {
  display: none;
  cursor: pointer;
}

.menu-mobile div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(10, 52, 18, 0.605);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 5;
    margin-top: 36px;
  }
  .nav-links li {
    opacity: 0;
  }
  .menu-mobile {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60;
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.trailer a {
  width: 500px;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .trailer a img {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  .arrow {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

@media screen and (max-width: 700px) {
  .trailer a img {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .arrow {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
}

@media screen and (max-width: 500px) {
  .trailer a img {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  .arrow {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
}

@media screen and (max-width: 400px) {
  .trailer a img {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
  }
  .arrow {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
  }
}

.slide {
  position: relative;
}

.trailer {
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  margin-top: 3%;
}

.trailer a img {
  width: 100%;
  height: 100%;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 1;
}

#arrow-left {
  border-width: 10px 20px 10px 0;
  border-color: transparent white transparent transparent;
  left: 0;
  margin-left: 15%;
}

#arrow-left:hover {
  border-color: transparent #4d4d4d transparent transparent;
}

#arrow-right {
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent white;
  right: 0;
  margin-right: 15%;
}

#arrow-right:hover {
  border-color: transparent transparent transparent #4d4d4d;
}

.container {
  width: 100%;
}

.films {
  min-height: 40vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 20px 20px 0 20px;
}

.poster {
  height: 300px;
  width: 25%;
}

.poster img {
  width: 100%;
  height: inherit;
  cursor: pointer;
}

#info {
  height: 300px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 70%;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.text {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loc {
  width: 100%;
  height: 9%;
  text-align: center;
  font-size: 20px;
  background-color: rgba(10, 52, 18, 0.605);
  margin-top: 15px;
}

#date {
  height: 25%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin-top: 30px;
}

.days_hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: rgba(10, 52, 18, 0.605);
  border-right: dotted 1px black;
}

.days_hours:last-child {
  border-right: none;
}

.days {
  width: 100%;
  height: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hours {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.hours :hover {
  background-color: #4d4d4d;
}

button {
  font-family: "Bree Serif", serif;
  background-color: rgba(6, 31, 11, 0.605);
  border: none;
  color: white;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}

button:hover {
  color: #4d4d4d;
}

@media screen and (max-width: 800px) {
  .films {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
  #info {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

@media screen and (max-width: 700px) {
  .films {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  #info {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
}

@media screen and (max-width: 500px) {
  .films {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
  #info {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 400px) {
  .films {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
  }
  #info {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

#contain_cinema {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}

.cinema {
  margin-right: 10px;
  margin-left: 10px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cinema_city {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  color: white;
}

.cinema_pic {
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.cinema_posters {
  cursor: pointer;
}

.cinema_posters_img {
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 645px) {
  .cinema_city {
    font-size: 20px;
    line-height: 50px;
  }
}

@media screen and (max-width: 500px) {
  #contain_cinema {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cinema {
    width: 100%;
  }
}

#head {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-bottom: 40px;
  margin-top: 20px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#head #title_res {
  margin-left: 25%;
  color: white;
  background-color: transparent;
  font-size: 12px;
  text-align: center;
}

#head #summary {
  color: white;
  background-color: transparent;
  font-size: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

#screen {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto 30px auto;
}

#screen #img_screen {
  width: 100%;
  height: 20px;
}

#div_btn {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  margin-left: 35%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#div_btn #save_btn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2px;
  text-align: center;
}

#div_btn #legend {
  margin-left: 5%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#div_btn #legend #legend_res {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
}

#div_btn #legend #legend_res #reserve {
  color: white;
}

#div_btn #legend #legend_res #reserved {
  color: white;
}

#div_btn #legend #legend_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  margin-left: 5%;
}

#div_btn #legend #legend_col #green {
  height: 15px;
  width: 15px;
  background-color: green;
}

#div_btn #legend #legend_col #yellow {
  height: 15px;
  width: 15px;
  background-color: yellow;
}

@media screen and (max-width: 800px) {
  #container {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

@media screen and (max-width: 700px) {
  #container {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
}

@media screen and (max-width: 500px) {
  #container {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
  }
}

@media screen and (max-width: 400px) {
  #container {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
  }
}

#places {
  text-align: center;
  width: 80%;
  margin: auto;
}

.img_chair {
  width: 20px;
  height: 20px;
}

.img_disable {
  cursor: not-allowed;
}

.img_chair:hover {
  opacity: 0.8;
}

.sit {
  display: inline;
  cursor: pointer;
  margin: 2px;
}

.seat_disable {
  display: inline;
  cursor: not-allowed;
  background-color: red;
  opacity: 0.4;
}

.sit_chosen {
  display: inline;
  cursor: pointer;
  background-color: green;
}

.sit .tooltip {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 7px;
}

.sit:hover .tooltip {
  visibility: visible;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: #910e0e;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

#log_dial {
  width: 100%;
  height: 600px;
  background-color: linear-gradient(to right, #7a7777, white, #7a7777);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

label {
  color: white;
}

#login {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(10, 52, 18, 0.605);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(10, 52, 18, 0.605);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#btn_log {
  background-color: solid black 2px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#message {
  display: none;
  background: #f1f1f1;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message_must {
  color: white;
}

p {
  padding: 3px 35px;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */