$gradient_color: linear-gradient(to right, rgb(122, 119, 119),white,  rgb(122, 119, 119));
$header_color: rgba(10, 52, 18, 0.605);
$p_color: white;
$header_color-darken: darken($header_color, 5%);
$p_color_darken: darken($p_color, 30%);
$hover_color: darken($p_color, 70%);
$size_font: 20 px;
$transform1: scale(0.9, 0.9);
$transform2: scale(0.7, 0.7);
$transform3: scale(0.5, 0.5);
$transform4: scale(0.4, 0.4);
$width1: 800px;
$width2: 700px;
$width3: 500px;
$width4: 400px;
$border_header: solid black 2px;
@mixin input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid $header_color;
  display: inline-flex;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("img/tło.png");
}

#container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  z-index: -1;
}

////////////////////////////header/////////////////////////////////////////////////////

* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: $header_color;
  margin: auto;
  width: 100%;
  margin-top: 20px;
}

#logo {
  color: white;
  letter-spacing: 5px;
  font-size: $size_font;
  cursor: pointer;

  &:hover {
    color: $hover_color;
  }
}

.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;

  li {
    list-style: none;
    cursor: pointer;
  }

  a {
    color: $p_color;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      color: $hover_color;
    }
  }

  
}

.menu-mobile {
  display: none;
  cursor: pointer;

  div {
    width: 25px;
    height: 3px;
    background-color: $p_color;
    margin: 5px;
    transition: all 1s ease;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $header_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 5;
    margin-top: 36px;
  }

  .nav-links li {
    opacity: 0;
  }

  .menu-mobile {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/////////////////obrazki slajder///////////////////////////////////////////////////////
* {
  box-sizing: content-box;
}
.trailer a {
  width: 500px;
  height: 100%;
}

@media screen and (max-width: $width1) {
  .trailer a img {
    transform: $transform1;
  }
  .arrow {
    transform: $transform1;
  }
}

@media screen and (max-width: $width2) {
  .trailer a img {
    transform: $transform2;
  }
  .arrow {
    transform: $transform2;
  }
}

@media screen and (max-width: $width3) {
  .trailer a img {
    transform: $transform3;
  }
  .arrow {
    transform: $transform3;
  }
}
@media screen and (max-width: $width4) {
  .trailer a img {
    transform: $transform4;
  }
  .arrow {
    transform: $transform4;
  }
}

.slide {
  position: relative;
}

.trailer {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin-top: 3%;

  a img {
    width: 100%;
    height: 100%;
  }
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 1;
}

#arrow-left {
  border-width: 10px 20px 10px 0;
  border-color: transparent white transparent transparent;
  left: 0;
  margin-left: 15%;

  &:hover {
    border-color: transparent $hover_color transparent transparent;
  }
}

#arrow-right {
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent white;
  right: 0;
  margin-right: 15%;

  &:hover {
    border-color: transparent transparent transparent $hover_color;
  }
}

//////////////filmy/////////////////////////////////////////////////////////////////////

.container {
  width: 100%;
  position: relative;
}

.films {
  display: inline-flex;
  margin: 20px 20px 0 20px;
  display: grid;
  grid-template-columns: [col1-start] 30% [col2-start] 70% [col2-end];
  
}

.poster {
  grid-template-columns: col1-start;
  grid-template-rows: row1-start / row3-end;


  img {
    width: 100%;
    height: inherit;
  }
}

#info {
  color: $p_color;
  display: grid;
  grid-template-rows: [row1-start] 50% [row2-start] 15% [row3-start] 35% [row3-end]; 
  grid-template-columns: col2-start;
}

.text {
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  margin: auto;
  grid-template-columns: col2-start;
  grid-template-rows: row1-start;

}

.loc {
  text-align: center;
  font-size: 20px;
  background-color: $header_color;
  margin-top: auto;
  grid-template-columns: col2-start;
  grid-template-rows: row2-start;
}

#date {
  display: grid;
  grid-template-columns: col2-start;
  grid-template-rows: row3-start;
  grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto [col4-start] auto [col5-start] auto [col6-start] auto [col7-start] auto  [col7-end];
 

}

.days_hours {
  background-color: $header_color;
  border-right: dotted 1px black;
  grid-template-columns: col1-start;
  grid-template-rows: row1-start / row2-end;
  display: grid;
  grid-template-rows: [row1-start] 50% [row2-start] 50% [row2-end]; 
  
  
  &:last-child {
    border-right: none;
  }
}

.days {
  text-align: center;
  margin: auto;
  padding: 5px;
  grid-template-columns: col1-start;
  grid-template-rows: row1-start;
}

.hours {
  grid-template-columns: col1-start;
  grid-template-rows: row2-start;

  :hover {
    background-color: $hover_color;
  }
}

button {
  font-family: "Bree Serif", serif;
  background-color: $header_color-darken;
  border: none;
  color: white;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  &:hover {
    color: $hover_color;
  }
}

@media screen and (max-width: $width1) {
  .films {
    transform: $transform1;
  }
  #info {
    transform: $transform1;
  }
}

@media screen and (max-width: $width2) {
  .films {
    transform: $transform2;
  }
  #info {
    transform: $transform2;
  }
}

@media screen and (max-width: $width3) {
  .films {
    transform: $transform3;
  }
  #info {
    transform: $transform3;
    height: fit-content;
  }
}

@media screen and (max-width: $width4) {
  .films {
    transform: $transform4;
  }
  #info {
    transform: $transform4;
    height: fit-content;
  }
}


/////////////kina////////////////////////////////////////////////////////////////////////

#contain_cinema {
  display: inline-flex;
  width: 100%;
}

.cinema {
  margin-right: 10px;
  margin-left: 10px;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.cinema_city {
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  color: $p_color;
}

.cinema_pic {
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.cinema_posters {
  cursor: pointer;
}

.cinema_posters_img {
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 645px) {
  .cinema_city {
    font-size: 20px;
    line-height: 50px;
  }
}

@media screen and (max-width: 500px) {
  #contain_cinema {
    display: flex;
    flex-direction: column;
  }
  .cinema {
    width: 100%;
  }
}

///////////wybór miejsc/////////////////////////////////////////////////////////////////

#head {
  width: 80%;
  display: flex;
  align-content: space-between;
  margin-bottom: 40px;
  margin-top: 20px;
  position: relative;
  justify-content: center;

  #title_res {
    margin-left: 25%;
    color: $p_color;
    background-color: transparent;
    font-size: 12px;
    text-align: center;
  }

  #summary {
    color: $p_color;
    background-color: transparent;
    font-size: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

#screen {
  height: 20px;
  display: flex;
  align-content: center;
  margin: 0 auto 30px auto;

  #img_screen{
    width: 100%;
    height: 20px;
  }
}

#div_btn {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  margin-left: 35%;
  display: inline-flex;

  #save_btn {
    height: fit-content;
    width: fit-content;
    border-radius: 2px;
    text-align: center;
  }

  #legend {
    margin-left: 5%;
    display: inline-flex;

    #legend_res {
      display: flex;
      flex-direction: column;
      font-size: 10px;

      #reserve {
        color: $p_color;
      }

      #reserved {
        color: $p_color;
      }
    }

    #legend_col {
      display: flex;
      flex-direction: column;
      float: right;
      margin-left: 5%;

      #green {
        height: 15px;
        width: 15px;
        background-color: green;
      }

      #yellow {
        height: 15px;
        width: 15px;
        background-color: yellow;
      }
    }
  }
}

@media screen and (max-width: $width1) {
  #container {
    transform: $transform1;
  }
}

@media screen and (max-width: $width2) {
  #container {
    transform: $transform2;
  }
}

@media screen and (max-width: $width3) {
  #container {
    transform: $transform3;
  }
}

@media screen and (max-width: $width4) {
  #container {
    transform: $transform4;
  }
}

#places {
  text-align: center;
  width: 80%;
  margin: auto;
}

.img_chair {
  width: 20px;
  height: 20px;
}

.img_disable {
  cursor: not-allowed;
}

.img_chair:hover {
  opacity: 0.8;
}

.sit {
  display: inline;
  cursor: pointer;
  margin: 2px;
}

.seat_disable {
  display: inline;
  cursor: not-allowed;
  background-color: red;
  opacity: 0.4;
}

.sit_chosen {
  display: inline;
  cursor: pointer;
  background-color: green;
}

.sit {

.tooltip {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  font-size: 7px;
}
  &:hover .tooltip {
    visibility: visible;
  }
}

.valid {
  color: green;

  &:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
}

.invalid {
  color: rgb(145, 14, 14);

  &:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
}

///////////logowanie/////////////////////////////////////////////////////////////////////

#log_dial {
  width: 100%;
  height: 600px;
  background-color: $gradient_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
label{
  color: white;
}
#login {
  @include input;
}

#password {
  @include input;
}

#btn_log {
  background-color: $border_header;
  color: $p_color;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#message {
  display: none;
  background: #f1f1f1;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
#message_must{
  color: white;
}
p {
  padding: 3px 35px;
  font-size: 12px;
}
